body,
html {
    background: #252525;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}
div {
    float: left;
}
.eye-line {
    fill-rule: evenodd;
    fill: #EEE8D5;
}
.pupil {
    fill: #EEE8D5;
}
